In [8]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [9]:
data=pd.read_csv("C:/Users/Lenovo/OneDrive/Desktop/ds assignment dataset/Assignment3hyp_test/BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
objList = data.select_dtypes(include = "object").columns
print (objList)

Index(['Observed Values'], dtype='object')

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat]=le.fit_transform(data[feat].astype(str))
    
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      int32
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int32(1), int64(4)
memory usage: 200.0 bytes
None

In [12]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3],data.iloc[:,4])

F_onewayResult(statistic=0.5960896991149738, pvalue=0.6818002355762813)

In [13]:
data1 = data.iloc[:,1:]

In [14]:
data1.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [15]:
data1.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750